<%- include("partials/header") %>
    <div>
        <h1>Delete Task</h1>
        <a href="/">Back</a>
        <div>
            <p>Are you sure you want to delete this task?</p>
            <a href="">Yes</a>
            <a href="">No</a>
        </div>
    </div>
<%- include("partials/footer") %>