<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete task</title>
</head>
<body>
    <div>
        <h1>Delete Task</h1>
        <a href="">Back</a>
        <div>
            <p>Are you sure you want to delete this task?</p>
            <a href="">Yes</a>
            <a href="">No</a>
        </div>
    </div>
</body>
</html>