<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
</head>
<body>
    <div>
        <h1>To-Do List</h1>
    </div>
    <div>
        <a href="">Add Task</a>
    </div>
    <div>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Test Title</td>
                <td>Test Description</td>
                <td>Test date 1</td>
                <td>Test date 2</td>
                <td>
                    <div>
                        <a href="">Edit</a>
                        <a href="">Delete</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>